<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<nav>
    <h1>xxx图书管理系统</h1>
</nav>
<div class="container">
    <div class="component">
        <p>登录</p>
        <form>
            <span><input type="text" name="username" placeholder="&nbsp;用户名"></span>

            <span><input type="password" name="password" placeholder="&nbsp;密码"></span>
            <button type="submit">提交</button>
        </form>
    </div>
</div>
</body>
</html>